ul.parts-menu
	h4.inline-media__title More in the series
	//Part 2
	li.parts-menu__item.parts-menu__item
		a(href="http://www.baltimoresun.com/news/maryland/baltimore-city/bal-shoot-to-kill-part-two-story.html")
			//img.parts-menu__thumbnail(src="dist/images/example.jpg" width="75")
			.parts-menu__part-no Part 2 <!--<span class="parts-menu__date"> Date </span>-->
			.parts-menu__title Hardest-hit neighborhoods are grappling with gun violence.


	//Part 2, inactive
	//- li.parts-menu__item--inactive
	//- 	img.parts-menu__thumbnail(src="images/example.jpg" width="75")
	//- 	.parts-menu__part-no Part 2 <span class="parts-menu__date"> Date </span>
	//- 	.parts-menu__title Title
	

	//Part 3, inactive
	li.parts-menu__item.parts-menu__item
		//a(href="#")
			//img.parts-menu__thumbnail(src="dist/images/example.jpg" width="75")
		.parts-menu__part-no COMING SOON: Part 3 <!-- <span class="parts-menu__date"> Date </span>-->
		.parts-menu__title Trauma surgeons are struggling to save gunshot victims.


	//Part 3, inactive
	//- li.parts-menu__item--inactive
	//- 	img.parts-menu__thumbnail(src="images/example.jpg" width="75")
	//- 	.parts-menu__part-no Part 3 <span class="parts-menu__date"> Date </span>
	//- 	.parts-menu__title Title







