ul.parts-menu
	h4.inline-media__title More in the series
	//Part 2
	li.parts-menu__item.parts-menu__item
		a(href="http://www.baltimoresun.com/news/maryland/baltimore-city/bal-shoot-to-kill-part-two-story.html")
			img.parts-menu__thumbnail(src="http://www.trbimg.com/img-57f65c1d/turbine/bal-md-shoot-to-kill-p-visuals-10-fox-20161006/75/75x42" width="75")
			.parts-menu__part-no Part 2 <!--<span class="parts-menu__date"> Date </span>-->
			.parts-menu__title Some Baltimore neighborhoods condemned to endure a shocking degree of violence


	//Part 2, inactive
	//- li.parts-menu__item--inactive
	//- 	img.parts-menu__thumbnail(src="images/example.jpg" width="75")
	//- 	.parts-menu__part-no Part 2 <span class="parts-menu__date"> Date </span>
	//- 	.parts-menu__title Title
	

	//Part 3, inactive
	li.parts-menu__item.parts-menu__item
		a(href="http://www.baltimoresun.com/news/maryland/investigations/bal-shoot-to-kill-part-three-story.html")
		img.parts-menu__thumbnail(src="http://www.trbimg.com/img-57fe7a08/turbine/bal-shoot-to-kill-medical-challenges-20161012-002/75/75x42" width="75")
		.parts-menu__part-no Part 3 <!-- <span class="parts-menu__date"> Date </span>-->
		.parts-menu__title Baltimore emergency rooms struggle to care for severely wounded patients


	//Part 3, inactive
	//- li.parts-menu__item--inactive
	//- 	img.parts-menu__thumbnail(src="images/example.jpg" width="75")
	//- 	.parts-menu__part-no Part 3 <span class="parts-menu__date"> Date </span>
	//- 	.parts-menu__title Title







