div.gungraphic
	div.col-md-3.col-sm-6.col-xs-6.block
		p.gunname Glock .40
		img(src="dist/images/glock-40.jpg")
		p.gunstats MSRP: 
			span.red $499
		p.gunstats STANDARD CAPACITY:<br> 
			span.red 16 ROUNDS
		p.gunstats TOTAL EXAMINED: 
			span.red 73
		hr.line
	div.col-md-3.col-sm-6.col-xs-6.block
		p.gunname S&W .38 SPL
		img(src="dist/images/sw-38.jpg")
		p.gunstats MSRP: 
			span.red $539
		p.gunstats STANDARD CAPACITY:<br> 
			span.red 5 ROUNDS
		p.gunstats TOTAL EXAMINED: 
			span.red 60
		hr.line
	div.col-md-3.col-sm-6.col-xs-6.block
		p.gunname Mossberg 12g
		img(src="dist/images/mossberg.jpg")
		p.gunstats MSRP: 
			span.red $189
		p.gunstats STANDARD CAPACITY:<br> 
			span.red 6 ROUNDS
		p.gunstats TOTAL EXAMINED: 
			span.red 51
		hr.line
	div.col-md-3.col-sm-6.col-xs-6.block
		p.gunname Ruger 9 mm
		img(src="dist/images/ruger-9.jpg")
		p.gunstats MSRP: 
			span.red $569
		p.gunstats STANDARD CAPACITY:<br> 
			span.red 11 ROUNDS
		p.gunstats TOTAL EXAMINED: 
			span.red 48
		hr.line
	div.col-md-3.col-sm-6.col-xs-6.block
		p.gunname Hi-Point 9 mm
		img(src="dist/images/highpoint-9.jpg")
		p.gunstats MSRP: 
			span.red $199
		p.gunstats STANDARD CAPACITY:<br> 
			span.red 9 ROUNDS
		p.gunstats TOTAL EXAMINED: 
			span.red 45      
		hr.line
	div.col-md-3.col-sm-6.col-xs-6.block
		p.gunname Glock 9 mm
		img(src="dist/images/glock-9.jpg")
		p.gunstats MSRP: 
			span.red $499
		p.gunstats STANDARD CAPACITY:<br> 
			span.red 18 ROUNDS
		p.gunstats TOTAL EXAMINED: 
			span.red 42
		hr.line
	div.col-md-3.col-sm-6.col-xs-6.block
		p.gunname S&W .40
		img(src="dist/images/sw-40.jpg")
		p.gunstats MSRP: 
			span.red $569
		p.gunstats STANDARD CAPACITY:<br> 
			span.red 16 ROUNDS
		p.gunstats TOTAL EXAMINED: 
			span.red 37                             
		hr.line
	div.col-md-3.col-sm-6.col-xs-6.block
		p.gunname S&W 9 mm
		img(src="dist/images/sw-9.jpg")
		p.gunstats MSRP: 
			span.red $569
		p.gunstats STANDARD CAPACITY:<br> 
			span.red 11 ROUNDS
		p.gunstats TOTAL EXAMINED: 
			span.red 32
		hr.line
	div.col-md-12.source
		p <em> * Gun photos and data displayed are for a specific model of the make/caliber listed in the data collected by Baltimore Police.</em>
		p <strong style="font-size:.85em;">Source: Baltimore Police Department, firearm manufacturer websites</strong>
		hr