.stkHeadshots {
	position: relative;
	width: 100%;
	height: 420px;
	padding: 2em 0;
	margin-bottom: 1em;
	background-color: $offblack;
	font-size: 14px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	overflow: hidden;
	@media(max-width: $bp7) {
		font-size: 12px;
		height: 350px;
	}
	@media(max-width: $bp5) {
		height: 320px;
	}
	.slidesWrapper {
		position: relative;
		top: 0;
		height: 30%;
		max-width: 800px;
		margin: 0 auto;
		@media(max-width: $bp5) {
			height: 40%;
		}
	}
	h3 {
		width: 100%;
		margin: 0 auto;
		font-size: 2.7em;
		span {
			color: $stkRed;
		}
		@media(max-width: $bp8) {
			padding: 0 .2em;
			font-size: 2.4em;
		}
		@media(max-width: $bp7) {
			font-size: 2.2em;
		}
		@media(max-width: $bp6) {
			font-size: 1.9em;
		}
		@media(max-width: $bp6) {
			br {
				display: none;
			}
		}
	}
	.subhead {
		width: 90%;
		margin: 1em auto;
		color: white;
		font-size: 1.15em;
		@media(max-width: $bp7) {
			width: 70%;
		}
		@media(max-width: $bp5) {
			width: 90%;
		}
	}
	.slide {
		width: 100%;
		position: absolute;
		left: 0;
		&.left {
			left: -1000%;
		}
		&.right {
			left: 1000%;
		}
		@include transition(all .3s ease);
	}
	.statsWrapper {
		height: 45%;
		max-width: 800px;
		margin: 0 auto;
		text-align: center;
	}
	.stat {
		display: inline-block;
		position: relative;
		width: 24%;
		height: 100%;
		margin: 0;
		@media(max-width: $bp5) {
			width: 32%;
			&--0 {
				display: none;
			}
		}
	}
	.statNum {
		position: absolute;
		bottom: .5em;
		width: 100%;
		margin: 0;
		color: white;
		font-size: 4em;
		font-family: $prata;
	}
	.year {
		position: absolute;
		bottom: 0;
		width: 100%;
		margin: 0;
		color: $stkRed;
		font-size: 1.5em;
		font-family: $franklin;
	}
	.arrowsWrapper {
		position: relative;
		top: -40%;
		width: 100%;
		min-width: 320px;
		max-width: 1200px;
		margin: 0 auto;
		z-index: 2;
		@media(max-width: $bp9) {
			width: 70%;
			position: relative;
			top: 10%;
			margin: 0 auto;
		}
		@media(max-width: $bp5) {
			top: 0;
		}
	}
	.arrow {
		position: absolute;
		font-size: 5em;
		cursor: pointer;
		@include transition(color .5s ease);
		&.inactive {
			color: $stkDarkGray;
			cursor: default;
		}
		&--left {
			left: 0;
		}
		&--right {
			right: 0;
		}
		@media(max-width: $bp9) {
			font-size: 2.5em;
			line-height: 1.5em;
			&--left {
				left: 1.5em;
			}
			&--right {
				right: 1.5em;
			}
		}
	}
	.positionWrapper {
		position: relative;
		top: 10%;
		width: 100%;
		max-width: 800px;
		margin: 1em auto;
		text-align: center;
		z-index: 1;
		@media(max-width: $bp5) {
			top: 0;
		}
	}
	.slidePos {
		margin: 0 .2em;
		vertical-align: middle;
		font-size: 1.5em;
		color: $stkDarkGray;
		cursor: pointer;
		@include transition(color .5s ease);
		&.active {
			color: white;
			cursor: default;
		}
	}
	.sourceDiv {
		position: relative;
		bottom: -10%;
		width: 100%;
		margin: 0 auto;
		max-width: 800px;
		@media(max-width: $bp5){
			bottom: 0;
		}
	}
	.source {
		margin: 0 auto;
		color: $stkLightGray;
		text-align: right;
	}
}