.gungraphic {
	max-width: 1000px;
	width:100%;
	.block {
		text-align: center;
		border-left:1px solid #cdcdcd;
		border-right:1px solid #cdcdcd;
		margin-top:25px;
	    font-family: "franklin-gothic-urw",sans-serif;
		line-height: 150%;
	}
	.gunname {
		font-family: prata, serif;
		font-size: 1.5em;
	}
		 @media only screen and (max-width: 950px) {
	 		.gunname  {font-size: 1.5em;}
		 }
		  @media only screen and (max-width: 500px) {
	 		.gunname  {font-size: .9em;}
		 }
	.block img {
		max-width:200px; width:95%;
	}
	.line {
		width:50%;
		margin-top:25px;
	}
	.red {
		color: #bb0a1e;
	}
		
	.source {
			color:#888;
			clear:both;
		}
}

	p.gunstats {
		font-family: "franklin-gothic-urw",sans-serif;
		line-height:1;
	}
	 @media only screen and (max-width: 500px) {
	 		p.gunstats {
	 		font-size: 1em;
	 		line-height:1 !important;
	 		}
		 }

		 