extends _base.pug

block content
		//section.header
			.header__background-video
				video(loop="true" width="100%" height="100%" autoplay muted)
					source(src="" type="video/mp4")
					source(src="" type="video/webm")
			.header__text
				.container-story
					.header__title 
						include ../dist/images/gun.svg 
						span Shoot to 
						span.header__title--red Kill
					.header__chatter 
						span Baltimore is one of the most lethal cities in the United States. 
						span.header__chatter--red How did we get there?

		//load photo gallery			
		//- include includes/_gallery.pug

		section#chapter-intro
			.container-story
				.article
					.article__byline By Justin George, The Baltimore Sun
					.article__dateline September 30, 2016
					p.article__dropcap(data-dropcap="Q")

						span uinzell Covington went on a shooting “caper” for the first time in the late 1990s with his cousins and friends. The tough guys who raised him in ways of the streets pulled the trigger that day. Afterward, over Chinese takeout, Covington tried to ingratiate himself with the crew by declaring that their victim got what he deserved.
					p He was about 13 years old. Growing up in Baltimore, he knew it was wrong to shoot a man. Still, he said, he didn’t feel remorse. What he did feel was that his crew had newfound respect for him.
					p By 15, he was the one doing the shooting. Over the next dozen years, Covington learned to do it well. He used 9 mm guns that held 16 bullets and Mac-10 submachine guns. He lured victims to his turf, where he could scout for witnesses and surveillance cameras, in what he called his “Miranda check” — a macabre reference to the right to remain silent.
					p He also knew where to aim.
			//full-width inline video
			#featured-video.featured-video
				figure.fv__video
					iframe(src="https://player.vimeo.com/video/185014164" width="80%" height="560" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)

			.container-story
				.article

					p “If I shoot you in the leg, I know what I'm going to get,” said Covington, who is serving a 25-year sentence for murder. “If I shoot you in the stomach, I know what I'm going to get. If I shoot you in the head, I definitely know what I'm going to get. I'm going to get your demise.”
					p Covington's evolution into a killer encapsulates a trend driving gun violence around the country: Increasingly, people are shooting to kill. Criminals are stockpiling higher-caliber guns, many with extended magazines that hold more than 20 bullets. Police and hospitals are seeing a growing number of victims who have been shot in the head or shot repeatedly. And trauma doctors are finding it more difficult to save gunshot victims.
					p In many places, if you get shot, you are more likely to die than ever before.
					p In Baltimore, one of every three people struck by gunfire dies, up from one death in every four shootings the previous decade. It ranks as one of the most lethal of America's largest cities, according to a Baltimore Sun analysis. Two other cities — Washington and New Orleans — shared the brutal distinction of one in three shootings ending in a homicide in 2015. Like Baltimore, several cities have seen the death grip tighten. In Chicago, one in 10 people died after being shot in 2000; now one in six perishes.               
					p Last year, the odds for gunshot victims worsened in at least 10 of the nation's largest cities, The Sun found.

					.inline-media.inline-media--big.about
						hr
						h3 About this series
						div(style="line-height:1.5") Baltimore Sun reporter Justin George spent nine months during the 2015-2016 school year at Marquette University in Milwaukee as part of the O'Brien Fellowship in Public Service Journalism, working on “Shoot to Kill” while mentoring college students and speaking to journalism classes. He traveled to five cities to research gun violence; analyzed crime data from cities across the U.S.; reviewed dozens of studies on violent crime, trauma and guns; and interviewed more than 80 people, including homicide detectives, police chiefs, hit men, ex-offenders, researchers, emergency room doctors, nurses, trauma surgeons, family members of victims, neighborhood residents, prosecutors and survivors of shootings. Four college students served as research assistants as part of the O'Brien Fellowship program. They were Wyatt Massey, Hannah H. Kirby, Natalie Wickman and Matthew Kulling.
						<br>
						aside#podcast
							h4 Listen: Justin George podcast interview
							iframe(width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/286209589&amp;color=ff5500&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=true&amp;show_reposts=false")
						<br> 
						<br>
						<center style="font-size:.75em;">Produced with support from</center>
						a(href="http://www.marquette.edu/comm/obrien-fellowship/", target="_new")
							img(src="dist/images/fellowship.jpg" style="width:100%;max-width:370px;display:block;margin-bottom:10px;margin:0 auto")
						hr

					
					p The Baltimore Sun undertook a yearlong investigation into this rarely studied phenomenon, documenting patterns of lethality based on hundreds of crime statistics, hospital data and gun trace reports as well as interviews with police chiefs, homicide detectives, criminologists, medical experts, community activists, victims of gun violence and the perpetrators themselves.
					p Researchers said lethality is a significant part of the homicide equation, with implications for policing, public health and trauma care, but in-depth study has been hampered by a paucity of statistics.
					p Historically, gun violence research in the U.S. has been inhibited by a lack of federal funding and data — many police departments only track what they are required to report to the FBI, which doesn't include how often people survive shootings, where on the body people are shot and how many times.

					.inline-media.inline-media--big.subscribe
						 
						h3 Support our investigative journalism
						</br> Become a Baltimore Sun subscriber today to support stories like this one. <a href="http://ad.baltimoresun.com/land-article/" target="_blank">Start getting full access to our signature journalism for just $4.99 for 3 months.</a>
						</br>

					p That leaves a focus on body counts and homicide rates, which can be traced back nearly a century. While the nation's overall violent crime rate declined starting in the 1990s, a city's homicide rate typically fluctuates, sometimes significantly, leaving criminologists to puzzle over the causes behind spikes and dips.
					p Just five years ago, Baltimore public officials were celebrating a drop in the annual homicide count below 200. This year, that marker was crossed in August.
					p The latest crime wave in a number of cities — Baltimore, Chicago, Milwaukee and Washington, to name a few — has prompted deeper soul-searching. Deteriorating police-community relations have been blamed for a sharp increase in shootings and homicides, as have gang conflicts and entrenched societal ills such as segregation, poverty and joblessness.
					p But one often-overlooked trend has been consistent over the years, the Sun analysis found: Lethal force has become more so.
					p In Baltimore, where there were nearly 1,000 shootings last year, a one-in-four lethality rate means about 250 victims die. A one-in-three rate means more than 330 people die. So even if shootings subside, the number of gun deaths remains elevated. 
					p On the streets, particularly in poor, black neighborhoods, residents are witnessing increasingly deadly tactics. More shooters are aiming for the head and firing multiple rounds into victims.

					figure.inline-media.inline-media--pic.inline-media--full(data-sr)
						img(src="dist/images/s2k-shoot.jpg")
						figcaption.inline-media--pic__caption Detail photo of a Glock .40-caliber handgun being fired at the Northeast District police station’s qualification range.
						btn.inline-media--pic__open-gallery
							a(href="http://www.baltimoresun.com/bal-shoot-to-kill-lethality-in-baltimore-20160929-photogallery.html" target="_blank") SEE MORE PHOTOS

					p The number of fatal head shots in the city rose steadily from about 13 percent two decades ago to 62 percent last year. Meanwhile, the number of cadavers with 10 or more bullets more than doubled in the past decade, according to the Maryland medical examiner’s office, which tallied the bullet wounds at the request of The Sun.
					p Now, roughly two-thirds of city homicide victims are either shot in the head or multiple times. Many suffer both fates.
					p Guns have also become more deadly, as the weapon of choice for criminals and then law enforcement shifted from the revolver to the semiautomatic pistol, which can fire more bullets without reloading. Nationally, the number of 9 mm and .40-caliber guns taken off the streets surged during the past four years, as seizures of less powerful .22-caliber guns remained relatively flat.
					p In Maryland, seizures of 9 mm handguns overtook .22-caliber guns for the first time last year. Most were recovered from Baltimore's streets, where the saying goes: “Buy every gun that comes through; don't let it be the gun that kills you.”
					p Many of the guns are equipped with extended magazines, allowing a shooter to fire from a distance and “walk down” a victim, continuously firing. The sale of “extendos” with more than 10 rounds are banned in Maryland, where they are prized in street cultures, tucked under belts and into pants as a fashion statement. In Baltimore, police are finding up to 80 shell casings at a single crime scene.

					
					//large pull quote
					
					figure.inline-media.inline-media--pullquote.inline-media--big(data-sr)
						hr
						.inline-media--pullquote__text &ldquo;Something’s changed in the mentality of the people shooting. Very reckless. Everyone’s got a gun, and everyone is willing to do these shootouts.&rdquo;
						.inline-media--pullquote__src former D.C. police chief Cathy L. Lanier
						hr


					p Metropolitan Police Chief Cathy L. Lanier, who retired last month after more than a decade in Washington, keeps a photo of a 100-round magazine seized by police on her cellphone as a reminder of the firepower out there.
					p Law enforcement officials across the country say they've observed insidious circumstances that are difficult to quantify. Reckless shootings in the daytime. Vigilante justice and contract killers. Gang rules that codify when violence should be used — and street rules limiting violence against bystanders being ignored.
					p “The criminals are more brazen,” said Baltimore police Maj. Donald Bauer, who leads the homicide unit.
					p While shooters' motives vary, experts and those caught in the crossfire note a ruthlessness on the streets where criminals with more sophisticated weaponry aren't just using guns to intimidate rivals or rob. They are using them to take people out with greater success.
					p In Baltimore and other cities with a deeply entrenched “no-snitching” ethos, the emphasis is on leaving behind no witnesses and no one to retaliate.
					p “It's very common for someone to walk up and empty a pistol at close range,” said criminologist David M. Kennedy, describing the “extreme” hold that gangs and drug crews have in cities like Baltimore, Washington and New Orleans. “It's going in with a heightened intent to actually kill you.”
					p Those same criminals have honed strategies to keep weapons at the ready. Guns are stashed in trash cans, hung from gutter grates by string and stashed in other nooks where they can be quickly recovered when needed. (Covington says he kept part of his arsenal under an apartment complex's washing machine.)
					p Or people serve as “human holsters,” carrying guns for felons, according to Milwaukee Police Chief Edward A. Flynn.
					p And in Baltimore, hit men for hire have become fixtures on the streets.
					p Police recently began tracking the so-called 10 Grand Club, an organized gang of hit men willing to kill for that price, and prosecutors say that's double the typical fee. (Covington became a contract killer but also says he “killed out of friendship” for free if a woman approached him about taking out her rapist or her child's molester.)
					p Not even decades of advancements in trauma medicine can stem the carnage.
					p Even as patients with major injuries from other assaults and car accidents have seen their chances improve dramatically, gunshot victims have watched their chances of survival plummet. Studies by hospitals and trauma centers across the country, including Baltimore's top-ranked medical systems, have documented this contrarian trend.
					p “We feel this represents a true change in violence intensity,” Johns Hopkins Hospital researchers concluded a decade ago. Doctors say it has gotten worse since then.
					p This has left communities nationwide reeling, with violence concentrated in traumatized neighborhoods where mothers are forming support groups, not only to help each other cope but in a desperate search for ways to stop the killing. A nationwide network of grief is starting to take shape, with more support groups banding together and becoming politically active.
					p “We're all facing similar dynamics,” said Corneilius Scott, who volunteers as executive director of Mothers of Murdered Sons and Daughters in Baltimore. “There's a lot of concern and not many answers.”
					p At the group's meetings, parents are talking about “sensitizing” young men to the effects of violence. They believe — and social science is finding — that their boys need to be taught empathy, lest they become trapped in a cycle, repeatedly exposed to violence and becoming more likely to commit it.

		section#chapter-1
			.container-story
				.article
					.article__chapter-title 
						hr
						.article__chapter-title__number 
							include ../dist/images/gun.svg 
							span CHAPTER 1
						.article__chapter-title__text More guns, bigger bullets

					p Rodney Chase sensed trouble when three young men approached him on Gay Street in Baltimore, but he didn't run, saying he's not the kind to back down from anyone. One of the men pulled a gun; they wanted his NFL Starter jacket, his wallet, anything of value.
					p As Chase took off his jacket, one of the men tried to yank it off, and Chase instinctively hit him. The gunman fired into Chase's belly, and Chase felt as if hot grease had been thrown at him.
					p A woman nearby screamed and called an ambulance. He underwent surgery. Doctors put a screen under his skin to hold in his organs. He wasn't discharged for nearly two months.
					p That was more than two decades ago. Had he been shot today, with the kinds of guns prevalent on Baltimore's streets, he believes he'd be dead.
					p “Luckily it was a .22,” the 58-year-old said recently, lifting his shirt to show off a scar slicing down the middle of his stomach. “I'm grateful for that. If it was bigger, I'd be done.”

					//multiphoto package - photos enter from left, right and bottom
					figure.media-package
						img.media-package__img.media-package__img--left(src="dist/images/s2k-chase3.jpg" data-sr="enter left" class="img-responsive" style="width:48%")
						img.media-package__img.media-package__img--right(src="dist/images/s2k-chase2.jpg" data-sr="enter right" class="img-responsive" style="width:50%")
						.media-package__caption  Rodney Chase has participated in the Violence Intervention Program at the University of Maryland Shock Trauma Center. The program takes patients who come wounded into the hospital from violence and works to help them not be a victim or perpetrator of violence again. Left: Rodney Chase shows his scar from a gunshot wound he sustained. Right: Rodney Chase shows his scar where he was stabbed in an altercation.
						// figcaption Lloyd Fox

					p He knows Baltimore's streets because that's where he's spent most of his life. He was a drug addict living in an abandoned house when he was seriously injured in a knife attack and ended up at the University of Maryland Shock Trauma Center nearly a year ago. He also was admitted into a hospital program that connects patients with social services in hopes of reducing the recidivism of violence.
					p “I call it ‘Clip City,'” Chase said of Baltimore and the proliferation of guns. “What they got now — they're death dealers. And it's not hard to get 'em.”
					p Gun production in the U.S. set a blistering pace beginning in 2011 to 2014, the latest years for which data is available, doubling and sometimes tripling the annual manufacturing reported in the previous 25 years. 
					p Moreover, guns sold now are more powerful — higher-caliber weapons that come with larger magazines and discharge bullets with more force.
					p “All of these factors, over the last several decades, have progressed,” said Jay Wachtel, a 20-year agent of the Bureau of Alcohol, Tobacco, Firearms and Explosives who lectures at California State University at Fullerton. That has led to what he called an “incredible increase in the lethality of guns.”
					//large pull quote
					
					figure.inline-media.inline-media--pullquote.inline-media--big(data-sr)
						hr
						.inline-media--pullquote__text &ldquo;I call it &#8216;Clip City.&#8217; What they got now — they’re death dealers. And it’s not hard to get &#8217;em.&rdquo;
						.inline-media--pullquote__src Rodney Chase, violence victim 
						hr
					p Even an inexperienced shooter, Wachtel said, can do a lot of damage with a high-caliber semiautomatic gun. “You don't need to be a very good shot because any organs nearby are going to be pulverized,” he said.
					p Eventually, many of the newer models end up on the streets despite laws aimed at keeping guns out of the hands of felons. Law enforcement officials nationwide say they have noticed an increase in the quality of guns wielded by criminals.
					p “All the cheap guns made in the '80s have either quit functioning or have been recovered by police,” said Los Angeles Homicide Detective John Skaggs, the protagonist in the best-selling book “Ghettoside,” who has closed nearly all of the homicide cases he's handled. “They seem to all be expensive and high-quality now.”
					p In Milwaukee, police are tracking this trend. A decade ago, the top guns seized by police were a 12-gauge shotgun and pistols that cost less than $200 with standard, eight-bullet magazines. This year, the most seized guns were .40-caliber and 9 mm handguns that cost more than $400 and come with magazines that hold nine to 16 bullets.
					p Flynn, Milwaukee's police chief, said most of the guns used in crime — nearly 90 percent — are bought, not stolen. He blamed “straw purchases,” in which people purchase guns for others who wouldn't pass a background check.
					p “The gun of choice of street offenders has shifted over time to higher-quality, higher-caliber of semiautomatic pistols,” said Kennedy, the criminologist who directs the National Network for Safe Communities, a project of the John Jay College of Criminal Justice in New York City.
					p “Since those are the guns that gangs and drug-involved offenders are more likely to have, they're more likely to kill somebody,” he said.
					p In Baltimore, gun seizures this year have already surpassed last year's total by more than 25 percent. The once-ubiquitous “Saturday night specials” — cheaply made .22- or .25-caliber handguns that were banned for a time in Maryland — are no longer as prevalent.
					p Now 9 mm guns are the top gun seized by police, and a Glock .40-caliber was most often used in crimes last year. Those weapons are capable of firing a bullet nearly twice the diameter of the one fired from the original Saturday Night Special.
					p “A lot of big guns out there,” said James “J.T.” Timpson, a community liaison officer with Safe Streets, the city's violence mediation program, which works in high-crime neighborhoods to resolve conflicts without police intervention.
					p Timpson said shooters believe they need “stopping power” to ensure their mark is dead. “We don't have .22s no more,” he said.

					a(name="top-firearms")
					hr
					figure.inline-media.inline-media--graphic.inline-media--full
						h4.inline-media__title 
							include ../dist/images/gun.svg 
							span TOP FIREARMS USED IN 
							span.inline-media__title--red  CRIMES IN BALTIMORE
						p.inline-media.inline-media--graphic__chatter Police say they are recovering more high-caliber firearms. According to police, 9 mm and .40 caliber handguns and bullets are the most common types of weapons used in crimes in Baltimore City. Below are examples of the most common make and caliber of guns and bullet casings examined by the Baltimore crime lab in 2015. The crime did not necessarily occur in 2015. Standard magazine capacities are listed; Maryland law prohibits the sale of magazines that hold more than 10 bullets.
						include includes/top-firearms.pug

					p Measures aimed at limiting high-capacity magazines haven't kept them off the streets, either.
					p A decade after the federal assault weapons ban expired, Maryland again restricted the number of bullets when lawmakers passed one of the nation's strictest gun control laws in 2013. The law, which regulates certain gun purchases, also prohibits the sale of magazines with more than 10 rounds.
					p Since the law passed, however, dozens of “extendos” have been confiscated in the city, according to police. Officials don't keep exact statistics on the sizes of magazines.
					p Still, only 11 people have been charged in Baltimore and fewer than 100 statewide under the magazine statute. The penalties under the law are stiff. If convicted of committing a felony or violent crime with an extended magazine, defendants face a minimum of five years in prison and a maximum of 20.
					p Baltimore Police Commissioner Kevin Davis said the department's gun violence enforcement division, a new partnership with prosecutors, would investigate why more people haven't been charged.

					//multiphoto package - photos enter from left, right and bottom
					figure.media-package
						img.media-package__img.media-package__img--left(src="dist/images/s2k-guns1.jpg" data-sr="enter left" class="img-responsive" style="width:41.8%")
						img.media-package__img.media-package__img--right(src="dist/images/s2k-guns3.jpg" data-sr="enter right" class="img-responsive" style="width:56.2%")
						.media-package__caption Guns with extended magazines that have been seized in Baltimore. Left: On April 8, 2016, police officers seized a loaded 9 mm pistol with an extended magazine from a suspect who was stopped in a vehicle. Right: On April 19, 2016, Western District Detectives executed a warrant that resulted in the seizure of four handguns.
						btn.inline-media--pic__open-gallery
							a(href="http://www.baltimoresun.com/bal-shoot-to-kill-guns-seized-by-baltimore-police-20160929-photogallery.html" target="_blank") SEE MORE PHOTOS

					p Police in other cities are also finding bigger magazines. In Washington, where gun seizures by police's gun recovery unit were up nearly 50 percent so far this year over last, police noticed more rounds being shot at scenes and signs of multiple shooters. So they began keeping statistics.
					p Last year, about one-third of guns recovered had high-capacity magazines. Through June of this year, nearly half had large clips.
					p With that kind of firepower, homicides spiked in Washington, Baltimore and more than a quarter of the largest American cities last year, pushing the nation's annual murder rate up by the largest margin in nearly 50 years. The higher pace of killing has continued in many cities this year.
					p At the same time, the odds for gunshot victims worsened last year in a number of cities, including Washington, Detroit, San Francisco, Milwaukee, Louisville, Ky., and Charlotte, N.C., The Sun's analysis found. In New York, one in five shooting victims died last year, up from one in seven in 2014. In Nashville, the odds of dying increased year-over-year from one in nine shootings to one in four.
					a(name="lethality-across-us")
					hr
					figure.inline-media.inline-media--graphic.inline-media--full(data-sr)
						h4.inline-media__title 
							include ../dist/images/gun.svg 
							span Lethality rates
							span.inline-media__title--red  across the United States
						p.inline-media.inline-media--graphic__chatter Baltimore is among the most lethal cities in the country. See how we compare to other major cities below.
						//- img(src="dist/images/shootings.png" class="img-responsive")
						include includes/stkCities.pug
					hr
					p That surprised researchers who said they expect surges in violence to become more haphazard, less planned — therefore resulting in fewer killed.
					p The Sun reviewed statistics from the nation's largest cities that tracked the shooting data necessary to calculate the lethality of gun homicides over the past five years. Half of the 30 biggest cities do.
					p In some cities that kept statistics for a decade or longer, including Baltimore and Chicago, shootings proved to be deadlier over the years, not just last year.
					p Former D.C. Chief Lanier, who has worked with police chiefs across the U.S., sharing ideas and data on the surge in homicides, noted a shift in the mindset of shooters. Criminals are emptying their clips, she said, leaving crime scenes littered with 50 to 60 shell casings, and opening fire in the daytime.
					p “Something's changed in the mentality of the people shooting,” she said. “Very reckless. Everyone's got a gun, and everyone is willing to do these shootouts.”
					 
		section#chapter-2
			.container-story
				.article
					.article__chapter-title 
						hr
						.article__chapter-title__number 
							include ../dist/images/gun.svg 
							span CHAPTER 2
						.article__chapter-title__text Trauma care falls behind
					 
					p The first bullet ripped into his thigh, and he crumpled. 
					p Devante Turner-Fordbey dropped to the asphalt on a spring day in West Baltimore two years ago, turned and saw his assailant in a hoodie pointing what looked like a 9 mm. The gun was jammed, and Fordbey began pulling himself up the street on his elbows and forearms as quick as he could. Then he heard the next shot blast.
					p Now the bullets felt like hammer blows. The more the shooter closed in, the more he felt the force of the bullets, which were moving at more than 900 feet per second. Fordbey turned onto his back and put his hands up.
					p “You're good, you're good!” Fordbey yelled. “You got me!”
					p But the shots kept coming. A bullet pierced his chest. Nine sank into his right thigh. One just missed his heart, striking his chest where the words “Nana” for his grandmother are tattooed along with some clouds and doves.

					//multiphoto package - photos enter from left, right and bottom
					figure.media-package
						img.media-package__img.media-package__img--left(src="dist/images/s2k-fordbey2.jpg" data-sr="enter left" class="img-responsive" style="width:49%")
						img.media-package__img.media-package__img--right(src="dist/images/s2k-fordbey3.jpg" data-sr="enter right" class="img-responsive" style="width:49%")
						img.media-package__img.media-package__img--bottom(src="dist/images/s2k-fordbey1.jpg" data-sr="enter bottom" class="img-responsive")
						.media-package__caption DEVANTE TURNER-FORDBEY STANDS AT A PLAYGROUND NEAR WHERE HE WAS SHOT 27 TIMES TWO YEARS AGO. LEFT: DEVANTE TURNER-FORDBEY'S TATTOO FOR HIS GRANDMOTHER, ALONG WITH THE SCAR IN HIS CHEST FROM A GUNSHOT WOUND. RIGHT: TURNER-FORDBEY'S SCARS FROM THE BULLETS IN HIS LEG. BOTTOM: TURNER-FORDBEY STANDS IN FRONT OF THE PLAYGROUND.
						//figcaption Karl Merton Ferron

					p Figuring he was going to die, he began to taunt the man standing over him with a gun. “You're a bitch. You're a bitch.”
					p Then a slug sliced into his head, and he blacked out just as he saw the man run away. He figures his survival instinct must have taken over, and he came to as he was trying to crawl away again.
					p “He heard me shuffling on the ground, and I'm trying to get myself off the ground,” Fordbey said. “He came right back and slapped in another clip in the gun. Boom. Boom. Boom. Boom. … I blacked out.”
					p In and out of consciousness he went, while his mother, who lived nearby and came running when word reached her, dug out the slug from his skull and pressed her hand against his neck to stop the bleeding.

					figure.inline-media.inline-media--video.inline-media--full
						iframe(src="https://player.vimeo.com/video/185016069" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)

					p “I'm sorry, Ma. I'm sorry, Ma. I feel myself leaving, I feel it,” he told her.
					p As a paramedic called his name in the racing ambulance, he thought it was God. “Devante! Devante! Devante!”
					p With advancements in trauma medicine over decades, emergency room patients now have a far better chance of surviving. Patients who have been stabbed are more likely to live. Better care, coupled with safety advancements, has driven deaths from motor vehicle accidents to historic lows.
					p Gunshot victims, however, are less likely to live.
					p In Baltimore, at the University of Maryland Shock Trauma Center, the nation's first hospital devoted to trauma injuries, doctors sought to assess improvements in care. They studied patients over a dozen years and found that chances for surviving “improved significantly.”
					p A notable exception: gunshot victims. In 1999, 9.8 percent of those patients died. By 2008, that rate had risen to 17 percent.
					p The study's authors, including Thomas Scalea, the physician-in-chief at the center, blamed the increasing availability of lethal automatic and semiautomatic weapons on the street. Scalea says that trend continues today. The trauma surgeon said in an interview that he's seeing more “higher-velocity injuries” from high-caliber guns and more bullet wounds per patient.
					p Johns Hopkins Hospital also studied trauma outcomes and found that the fatality rate for patients with gunshot wounds nearly doubled from 9.5 percent between 2000 and 2003 to 18.3 percent for the period through March 2005.
					p The study concluded that the overall fatality rate jumped because patients were arriving in grave shape. More patients were dead on arrival, and more succumbed to their injuries within minutes of arriving at the hospital.
					p The median time before they were pronounced dead: six minutes.
					p The researchers at one of the nation's most respected medical institutions concluded that there was little they could do. “The only way to save these patients is to reach out to them in the community before they are victims of violence,” the study concluded. 
					p That was when one in four shooting victims died; now it's one in three.


					a(name="lethality-baltimore")
					.inline-media.inline-media--graphic.inline-media--big
						h4.inline-media__title
							include ../dist/images/gun.svg 
							span Lethality
							span.inline-media__title--red  in Baltimore
			include includes/stkHeadshots.pug

			.container-story
				.article
					p On the streets in a number of cities, gunmen have increasingly aimed for the head. The number of fatal head shots in Milwaukee doubled in 2015 over the year before, and gunshot victims with three to seven bullet wounds jumped 150 percent.
					p It has been a clear, long-term trend in Baltimore, with the number of fatal head shots rising fivefold over the past two decades.
					p Some criminals are cunning enough to know that more of their targets could be wearing body armor, said Baltimore police Maj. Donald Bauer. This year, police seized body armor in multiple drug house raids — something veteran officers said they haven't seen before.
					p And in a cruel twist, some shooters are taking into account that Baltimore has top-notch trauma care, said former police commissioner Anthony Batts. That's why they aim for the head — to “take the trauma center out of the equation,” said Batts, now a consultant with the AWW Group training police commanders.
					p Gunmen are pumping more bullets into victims. People shot multiple times made up less than 60 percent of homicide victims in 2005, the earliest year for which data is available. That rose to 70 percent by last year.
					p The Maryland office of the chief medical examiner recently studied homicide autopsy reports of gunshot victims dating to 2005. About one-third of the victims died from a single gunshot, and that remained constant over the past decade. But the number of victims shot five to nine times doubled, as did those shot 10 or more times. In one case last year, a victim had been shot 38 times.
					figure.inline-media.inline-media--pic.inline-media--full(data-sr)
						img(src="dist/images/s2k-trauma.jpg")
						figcaption.inline-media--pic__caption A victim being prepped for surgery after being shot a number of times, during a night in the triage/recovery area at University of Maryland's Shock Trauma Center.
						//figcaption Karl Merton Ferron

					p “I never get a single gunshot wound — never,” said Sue Carol Verrillo, nurse manager of the surgical inpatient care unit at Johns Hopkins Hospital.
					p Hospitals across the nation, including in Denver and Newark, N.J., have reported the same trends — the severity of wounds and the sheer number of them increasing year by year.
					p Angela Sauaia, professor of public health, medicine, and surgery at the University of Colorado's Anschutz Medical Campus, was among a team of researchers that completed a study in June of patients at a Denver trauma hospital, comparing chances of survival from various injuries.
					p Again, they found that gunshot victims stood out for falling behind. Their fatality rate jumped 6 percent — every two years.
					p “There are more injuries to treat, so no wonder the case fatality is increasing,” Sauaia said. “That was not the norm 10 years ago.”


					//large pull quote
					
					figure.inline-media.inline-media--pullquote.inline-media--big(data-sr)
						hr
						.inline-media--pullquote__text &ldquo;We do know there are more bullets, and the injuries of each bullet are more serious. The holes are bigger.&rdquo;
						.inline-media--pullquote__src Angela Sauaia, professor of public health, medicine, and surgery at the University of Colorado Anschutz Medical Campus
						hr



					p Doctors couldn't keep up. “We do know there are more bullets, and the injuries of each bullet are more serious,” she said. “The holes are bigger.”
					p Fordbey, now 24, was one of the lucky ones. Shot 27 times two years ago, he says he was the victim of “karma” after years of Percocet-popping, drug dealing, fights and shootouts.
					p He saw his shooter and believes he was targeted by a rival drug crew over turf. Fordbey toyed with the idea of retaliating — gathering his “boys,” finding the suspect, and shooting him and everyone with him, leaving no witnesses.
					p But he says he gave up “the game” to focus on being a father to his four children. He's relearned how to walk with extensive physical therapy and keeps the bullet his mother dislodged from his head in a box near his bed.
					figure.inline-media.inline-media--pic.inline-media--full(data-sr)
						img(src="dist/images/s2k-fordbey4.jpg")
						figcaption.inline-media--pic__caption  DEHNIM FORDBEY, 2, STANDS IN FRONT OF HER FATHER, DEVANTE TURNER-FORDBEY, WHO SAYS THAT HE HAS TURNED HIS LIFE AROUND.
						// figcaption Karl Merton Ferron
					p Still, he isn't about to give up his credibility on the streets.
					p “I can't be labeled a snitch. I can't be labeled a rat, especially in this city,” he said, explaining why he didn't cooperate with police. “Snitches die.”
					p “Code of the streets, period,” he added. “Snitches get stitches. I honor the street code — the G code. I honored it my whole life. I can't tolerate snitching. I can't. My body, my mindset won't let me tell.”
					p No one has been arrested in his shooting.
					 
		section#chapter-3
			.container-story
				.article
					.article__chapter-title 
						hr
						.article__chapter-title__number 
							include ../dist/images/gun.svg 
							span CHAPTER 3
						.article__chapter-title__text 'Rocking you to sleep'
					p The “code” has many connotations on Baltimore streets. To some it's a “gangster” or street code that strictly prohibits snitching to police. To others it's a set of guidelines for when violence is prohibited — no shooting near children or the elderly, for instance — and when violence is warranted, or even required.
					p The Black Guerrilla Family, Baltimore's most powerful gang, distributes typewritten and handwritten rule books to members on the streets and in jail cells. The militaristic rules dictate that infractions can lead to punishment, sometimes death, and include protocols for carrying out violence, such as no shooting near “religious institutions.”
					p Covington, the hit man who says he was an enforcer for the BGF gang, describes the “golden rules” as nuanced in some ways, clear-cut in others.
					p You're never supposed to snitch, even on your enemy, he said. And you're not supposed to target your enemy's “law-abiding citizens” — family members who aren't in the drug game. But if those relatives are “in the life,” he said, they can be targeted.
					p Nowadays, however, rules that might have helped to keep a lid on random, collateral violence are regularly broken, according to law enforcement as well as community activists and residents.
					p Davis, the police commissioner, noted that about half of shootings in Baltimore are carried out in the daytime and most are outside.
					p Baltimore homicide detective Vernon Parker said perpetrators no longer use darkness “as a mask.” They are “more bold,” he said, shooting near churches, schools and other public places.
					//large pull quote
					
					figure.inline-media.inline-media--pullquote.inline-media--big(data-sr)
						hr
						.inline-media--pullquote__text &ldquo;Everybody wants to be a killer. It's more killings going on now because everybody feel like they got to prove themselves.&rdquo;
						.inline-media--pullquote__src - Devante Turner-Fordbey, who survived 27 shots
						hr
					p “People more cold-hearted these days than when I was growing up,” said Fordbey, the man who survived 27 shots. “Everybody wants to be a killer. It's more killings going on now because everybody feel like they got to prove themselves.
					p “Back in the day, I was told, it was like a kind of rule: The old dudes wouldn't allow outsiders to come in the 'hood, and everybody respected the women and children. Now, it's like no respect for nothing. People don't care.”
					p In West Baltimore this summer, shooters opened fire at a church after a funeral and at a candlelight vigil, both being held for other shooting victims. Six people were wounded in those attacks. Eight people were shot last weekend in East Baltimore steps from a makeshift memorial where three weeks earlier a man died and two women were injured in a triple shooting.

					figure.inline-media.inline-media--pic.inline-media--full(data-sr)
						img(src="dist/images/s2k-memorial.jpg")
						figcaption.inline-media--pic__caption MEMORIAL BALLOONS FOR A MAN WHO DIED IN A PREVIOUS SHOOTING HANG NEARBY THE SCENE WHERE EIGHT PEOPLE, INCLUDING A 3-YEAR-OLD GIRL, WERE SHOT AT GREENMOUNT AVENUE AND PRESTON STREET LAST WEEKEND. 

					p In Chicago, a South Side gang war sparked a series of shootings. Last year's retaliatory execution of 9-year-old Tyshawn Lee, which became emblematic of the ruthlessness plaguing that city, led his father this year to shoot the girlfriend of a suspect in his son's killing, according to police.
					p The challenge for police is knowing when someone might pull the trigger. Police departments nationwide have turned to predictive policing to try to understand who might be the next killer, or next on a hit list.
					p Chicago police have created the Strategic Subject List, the product of an algorithm that calculates someone's propensity to become a party to violence. A person's score is based on previous police contacts and criminal activity, known affiliations with gang members, social connections or networks, and past injuries from gunshots or assaults.
					p Once a person lands on the list, Chicago police make in-person visits to warn of the “consequences that will result should violent activity continue.” Police hope to reach out to 1,500 people this year.
					p They make up a fraction of the city's population but take part in an outsized share of the violence — in the first three months of this year, about three-quarters of the shooting victims and homicide suspects were already on the list.
					p In Baltimore, a similar undertaking has identified 600 “trigger pullers,” who police believe are the most likely to shoot or be shot. People land on the list for a combination of factors, including a history of violent crime or handgun violations, parole or probation, involvement in previous gun violence.
					p Officers monitor them with a “laser focus,” said Baltimore police Col. Stanley Brandford.
					p In many cities, it's a select club. Suspects and targets often know each other. They may have been friends, lived on the same the street or even be related. Many are in the drug trade together. That familiarity allows for face-to-face disagreements that can end with a trigger pull.
					p “The distance has closed in a lot of these cases, and now they're up on each other,” said Brandford, who has led the Baltimore police homicide unit two times in his career. “These guys stay in these neighborhoods. They really don't travel very far. And the opportunity to get close and do some damage is prevalent in some of these neighborhoods.”

					a(name="baltimore-neighborhoods")
					hr
					figure.inline-media.inline-media--graphic.inline-media--full(data-sr)
						h4.inline-media__title 
							include ../dist/images/gun.svg 
							span Baltimore's most
							span.inline-media__title--red  lethal neighborhoods
						p.inline-media.inline-media--graphic__chatter We ranked Baltimore neighborhoods by their lethality rates. Click on a neighborhood below to see its statistics.
						//- img(src="dist/images/map.png" class="img-responsive")
						include includes/stkNeighborhoods.pug
					hr

					p Police say a common tactic shooters use to gain proximity is to work with an accomplice who knows the target. The accomplice lures the target to an area, putting the person at ease to ensure a blind-side attack.
					p In gang parlance, it's known as “rocking you to sleep.”
					p Criminals today know to get close to their target and fire a lot of bullets, said Stuart Myers, a former police officer who runs Op-Tac International, which trains law enforcement in Maryland and elsewhere on weapons and tactics. That's because most criminals aren't good shots, he said.
					p Even police officers, who train and are certified, miss their targets more than they hit them. One study put the average hit rate for officers at less than 30 percent.
					p “If you're close enough to a target, you could close your eyes and pull the trigger,” Myers said. He estimated that range is within three yards. Then, he said, “you will hit your target.”


			
					.inline-media.inline-media--big.subscribe
						 
						h3 Support our investigative journalism
						</br> Become a Baltimore Sun subscriber today to support stories like this one. <a href="http://ad.baltimoresun.com/land-article/" target="_blank">Start getting full access to our signature journalism for just $4.99 for 3 months.</a>
						</br>

					p Shooters are also reaching for high-caliber guns with large magazines to ensure they hit their mark, according to advocates working to stem the violence. In some neighborhoods, friends or drug crews pool money to buy guns, and they become shared weapons on a given street corner.
					p Chris Wilson said shooters prefer long magazines, as well as hollow-point bullets, which expand upon impact, causing greater tissue damage and blood loss. The “extendos,” which carry more bullets, have become “an obsession” in street culture, he said.
					p “When you get a gun, you got to put an extended on it. You got to. That's policy. You got to be official,” said Wilson, who grew up in Washington, where he was in more than a dozen shootouts.
					p He was sentenced to life in prison at 17 after he shot and killed a man. He served nearly 15 years and moved to Baltimore, where he started a contracting company that connects ex-offenders and the unemployed with jobs.
					p Former Baltimore Deputy Police Commissioner Jerry Rodriguez, who spent the last few years of his law enforcement career in Baltimore after more than 25 years with the Los Angeles Police Department, said he was struck by the “level of determination” among killers in Baltimore. He noted the high number of head shots.
					p “I think there's a meaning behind that. I think there's a purpose behind that,” he said. “It's sending a message, but it's also making sure the outcome is what they want.”
					p Rodriguez, who works for a company developing technological solutions for police departments, said he found “a much more personal type of killing in Baltimore” — a city of 92 square miles — compared to Los Angeles, which sprawls over 470 square miles.
					p But even on the West Coast, police have noted a shift in shooting dynamics. In Los Angeles, gangs in the 1990s often carried out drive-by shootings, which could be indiscriminate and ineffective if the intent was to kill someone in particular. In the last decade, police said, they've been getting out of the car.


					//large pull quote
					
					figure.inline-media.inline-media--pullquote.inline-media--big(data-sr)
						hr
						.inline-media--pullquote__text &ldquo;You want to kill 'em, not wing 'em.&rdquo;
						.inline-media--pullquote__src LAPD HOMICIDE DETECTIVE CHRIS BARLING, REFERRING TO THE MENTALITY OF SHOOTERS
						hr



					p “You want to kill 'em, not wing 'em,” said LAPD Homicide Detective Chris Barling, describing the mentality of shooters.
					p Police also note an almost cavalier attitude among killers.
					p In Baltimore, a gunman caught on video burst into a barbershop in 2013 and pulled the trigger, but his weapon jammed, so he briefly took a step back, fixed it and took aim again. A gunman who had just shot a man in the head late last year did a three-point turn in his car with a nonchalance noted by Davis, the police commissioner, who said he took his time and “drove away like it was nobody's business.”
					p Covington, who said in a series of jailhouse interviews with The Sun that he killed 14 or 15 people and helped carry out hits on several others, explained that he believes the majority of them deserved to die. They were drug dealers, criminals — “people just like me,” he said.
					p He does say that he wishes he hadn't targeted one young victim, a teenager.
					p “But generally speaking, I never really think about it,” he said.

		section#chapter-4
			.container-story
				.article
					.article__chapter-title 
						hr
						.article__chapter-title__number 
							include ../dist/images/gun.svg 
							span CHAPTER 4
						.article__chapter-title__text Hit men for hire
					p In the Murphy Homes public housing project in West Baltimore, which has since been demolished, Covington grew up on the floor above Solothal “Itchy Man” Thomas, one of the city's most notorious hit men.
					p Covington said he regularly saw people shot, beaten, killed. He was 8 or 9 when he saw a man he only knew as “Country Dave” shot to death at the corner of West Lafayette and Argyle avenues. Dave had been a friend, who gave kids in the neighborhood dollars to buy snacks at the corner market.
					p But Covington didn't turn away from the streets, despite dreams of becoming a boxer or an Orioles baseball player like Cal Ripken Jr. Instead, he sized up one of two paths available to him and other teens in his neighborhood: drug dealing or becoming a “cowboy,” someone who robs drug dealers.
					p He chose cowboy.
					p Covington, now 30 and incarcerated in Westover, Md., can't recall whether the man shot on his first shooting caper survived but said he could have gone to jail for his involvement.
					

					//large pull quote
					
					figure.inline-media.inline-media--pullquote.inline-media--big(data-sr)
						hr
						.inline-media--pullquote__text &ldquo;I had grown men scared of me.&rdquo;
						.inline-media--pullquote__src Quinzell Covington, a former Baltimore hit man
						hr


					p As a teen his “neighborhood fame” grew — “I had grown men scared of me” — and as a man he shifted from random violence to targeted murderousness.
					p He was paid to kill. He once charged as much as $50,000, he says, but that was a “package deal.” He says that he worked in Maryland, Virginia, West Virginia and Ohio.
					p Covington declined to give details about many of his crimes. Baltimore police have suspected his involvement in six to 14 homicide cases.
					p He pleaded guilty to one homicide in Baltimore County. He also pleaded guilty to his role in two other homicides in the city, but received no additional time in exchange for his testimony against a co-defendant. He has been acquitted in another homicide and in one shooting.
					p “He was the guy that would kill people for money, plain and simple — that's how he made a living,” said Baltimore Homicide Detective Frank Miller, adding that Covington was part of a clique of gunmen who took murder-for-hire contracts and robbed drug dealers. “There's been several guys over the years that we've encountered, that was their thing.”
					p Covington joined the Black Guerrilla Family and intimidated witnesses for the gang. He said inmates held on homicide charges would call and ask him to visit witnesses in their cases. Being a friend — “I take friendship very seriously” — he would oblige.
					p Sometimes he didn't have to say a word; he would smell their fear, see the sweat rolling down faces. Other times, he had to say “some pretty hard and nasty words” to make them think twice about testifying.
					p “I don't want to say witness tampering, but in hindsight, it's sort of what it was,” Covington said.
					p The Baltimore Police Department has long struggled with closing homicide cases because investigations are often stymied by a lack of cooperation from witnesses. So far this year, police have only closed 35 percent of homicide cases.
					p As a killer, Covington says, he took steps to evade capture: He wore a ski mask and gloves unless he planned to shoot a victim when they were alone in the woods or in a house — he knew they wouldn't survive to identify him. He lured victims to him so that he could “control the environment.”
					p Covington, who now says he wants to help young people avoid the life he chose, was part of an insidious underground world of hit men for hire in Baltimore.

					figure.inline-media.inline-media--video.inline-media--full
						iframe(src="https://player.vimeo.com/video/185016031" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)

					p Police say these shooters commit an outsized number of homicides in the city. They embody an intent to kill that's ingrained in the city's street culture.
					p In some cases, federal authorities suspect a single hit man in more than 20 homicides going back decades.
					p In recent months, police said they have been tracking the 10 Grand Club, an organization of hit men. Officers said they learned about the “club” from confidential informants but didn't want to jeopardize investigations by releasing more information.
					p “It's not hard to shop around for a murder for hire,” said Assistant U.S. Attorney Jim Warwick, who has prosecuted a number of hit men in the city. “They will do it very quickly with no thought involved. They just need the money, the weapon, preferably a photograph of the person, if they don't know the person, and where the person can be found.”
					p The typical fee for a hit in Baltimore is $5,000, which may be split between trusted accomplices and subcontracted shooters the hit man may call into action, Warwick said. Some hit men have grown savvy over the years and begun to recruit “younger, violent and cold-blooded individuals” to do the job for them,” he said.
					p They are hired to settle an outstanding drug debt, to kill a woman owed child support or to get back at someone who was perceived to be disrespectful. They typically aim for the head or fire into their victims repeatedly, Warwick said; witnesses are considered collateral damage.
					p “The hit man will kill whoever is with the target as well,” Warwick said. “They're expected to finish the job.”
					p Three cousins who were gang hit men — Kenneth “K Slay” Jones, Donatello “Little Don” Fenner and David Hunter — rank among Baltimore's most notorious shooters, police said. They grew up in their grandmother's home, and police said they provided each other alibis.
					p “Those are some hit men right there,” said Baltimore Homicide Detective Dawnyell Taylor, who considers working Hunter's case, with its sprawling connections to victims, shooters and the BGF, to be her “life's work.”

					figure.inline-media.inline-media--pic.inline-media--full(data-sr)
						img(src="dist/images/s2k-taylor.jpg")
						figcaption.inline-media--pic__caption Baltimore Homicide Detective Dawnyell Taylor.
						//figcaption Lloyd Fox

					p Taylor said they are suspected in connection with four to five dozen shootings, often working in tandem to lure victims and then ambush them. Fenner was shot to death in 2010. Hunter got two life sentences plus 40 years last year for shooting a man in the back of the head, and Jones got two life sentences plus 15 years in August for shooting one man and killing another who was rumored to be cooperating with law enforcement.
					p Jones' lawyer, Fareed Hyatt, denied that his client and Hunter were hit men — he said they were broke. He questioned whether police have evidence they committed multiple murders because he hasn't seen it. Both men are appealing their convictions.
					p Surveillance video recorded Hunter's hit: walking on a sidewalk in the daytime and passing his victim, who was headed the other way. That's when prosecutors said Hunter wheeled around, shot Henry Mills in the head, and fled through traffic on busy Greenmount Avenue in East Baltimore, near a playground.
					p Deputy Attorney General Thiru Vignarajah, who prosecuted the case, told jurors it was a “public execution.”
					p Hours after the killing, surveillance video recorded another scene. Hunter and fellow gang members gathered in Mund Park, a few yards from where police had just cleared the crime tape. One man points his finger as if it were the barrel of a gun at another's head. Another man gives Hunter a high five. Prosecutors said they were celebrating.
					p Police worry about the cycle of violence continuing. “I guess the next one's just, you know, just growing up,” said Miller, who investigated Covington.
					p Pat Brown, a criminal profiler in Maryland, said shooters often develop an “attachment disorder” during troubled childhoods, so that they have difficulty forming long-term relationships and often fail to develop a conscience. They often witness death and violence, becoming numb to it.
					p “It becomes a survival of the fittest and you lose empathy for others,” Brown said. “They see people as tools, objects and things.”
					p Baltimore streets breed this kind of mindset, she said. “It has gotten out of control with the lawlessness and hopelessness.”
					p At age 5, Hunter witnessed a man shot in the back of the head. His mother, fearing retaliation, told him not to snitch, to pretend that he saw nothing, Vignarajah said at Hunter's sentencing. Hunter would grow up to kill a man the exact same way.
					p “Mr. Hunter grew up to become the agent of fear, the angel of death that his mother warned him of,” Vignarajah told jurors.

		section#chapter-5
			.container-story
				.article
					.article__chapter-title 
						hr
						.article__chapter-title__number 
							include ../dist/images/gun.svg 
							span CHAPTER 5
						.article__chapter-title__text Mothers march

					p Across the nation, those left behind are consoling each other. Some are reaching out to others who have lost loved ones to shootings. Others are getting organized.
					p Cheryl Hayes, whose 27-year-old son was shot to death last year as he was headed to his postal route in Chicago, commiserates with a co-worker whose son was fatally shot after a dispute at a club. They share pictures of their sons, and of their tombstones. The Chicago Bulls insignia is carved into Anthony Hayes' grave marker.
					p “We should be showing each other baby pictures or wedding photos,” said Cheryl Hayes, 54.
					p Her family, it seems, is surrounded by gun violence.
					p Hayes' daughter, Veronika Hayes-Copeland, taught at Harlem Park Middle School in Baltimore in 2006 and watched in horror as students were killed in street violence and at least one was suspected in a homicide. 
					p At one point, when shooting broke out at a church across from the school, Hayes-Copeland instinctively ducked while her students ran to the window, unfazed.

			
					//large pull quote
					
					figure.inline-media.inline-media--pullquote.inline-media--big(data-sr)
						hr
						.inline-media--pullquote__text &ldquo;Shot him in the leg and he was still running. Shot him in the leg again, and then when he fell, shot him five times in the chest. That’s overkill.&rdquo;
						.inline-media--pullquote__src Cheryl Hayes, a Chicago woman whose son was shot dead in 2015 and cousin in September
						hr


					p Last month, Hayes' cousin, Gregory Anthony Sims Jr., 25, was shot dead in the afternoon in Chicago. “Shot him in the leg and he was still running,” she said. “Shot him in the leg again, and then when he fell, shot him five times in the chest. That's overkill.”
					p She said she wants to become more involved in the mothers' movement against violence but has yet to find the strength. 
					p Support groups for mothers of slain children are cropping up in Baltimore, Chicago and cities across the country, and their memberships are growing. Once an insular crowd, they are becoming more active.

					//multiphoto package - photos enter from left, right and bottom
					figure.media-package
						img.media-package__img.media-package__img--left(src="dist/images/s2k-mothers1.jpg" data-sr="enter left" class="img-responsive" style="width:49.5%")
						img.media-package__img.media-package__img--right(src="dist/images/s2k-mothers3.jpg" data-sr="enter right" class="img-responsive" style="width:48.5%")
						.media-package__caption A MONTHLY COMMUNITY MEETING FOR MOTHERS OF MURDERED SONS AND DAUGHTERS, HELD AT ST. JOHN'S ALPHA AND OMEGA CHURCH. LEFT: DARLENE JOHNSON, OF BELAIR EDISON, READS THE FUNERAL PROGRAM DESCRIBING HER SLAIN SON. RIGHT: DAPHNE ALSTON, LEFT, THE GROUP’S  CO-FOUNDER, LISTENS TO SPEAKER.
						//figcaption Amy Davis

					p Mothers of Murdered Sons and Daughters in Baltimore plans to set up a booth at festivals and other events to reach more parents and children.
					p Organizers are trying to devise novel ways to reach out to children, using toys and games to teach them to get in touch with their feelings and respond appropriately to the violence to which they have become desensitized.
					p They are also trying more explicit ways of drawing attention to gun violence. This summer, with the help of area funeral homes, the group led a march alongside 10 empty hearses on North Avenue. Similar marches have been held in Atlanta, Cleveland and other cities.
					p Escorted by Baltimore police, the demonstrators stopped several times: at a school, at a church, at March Funeral Home. During the long walk, they loaded their children, hot and tired, into the backs of the hearses, which held coolers of water.
					p At each destination, the several dozen marchers stopped and prayed.
					p They prayed for the people of Baltimore, and they prayed for their sons and daughters in the hearses — the children they had left.
					p
						em Baltimore Sun reporter Justin Fenton and intern Wyatt Massey contributed to this article.




					p.reporter-email Contact Justin George at <a href="mailto:jgeorge@baltsun.com" target="_blank"> jgeorge@baltsun.com</a>

					//series menu for mobile
					figure.inline-media.inline-media--big.inline-media--has-title(data-sr)
						include includes/_parts-menu.pug

					//.inline-media.inline-media--big.newsletter
								b Sign up for our Crime & Courts newsletter to recieve more stories like this:
								iframe(src='http://data.baltimoresun.com/mobile/form.html' style='border:0' height="65")
								

					//ad
					include includes/ads/ad-for-body--leaderboard.html

